* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

img {
  width: 100%;
  display: block;
}

h1 {
  color: #d9d9d9;
}


/* img classe bootstrap */
.card-img-top {
  height: 300px;
  object-fit: cover;
}

.vt-card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* container */
.container-input-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.container-card-details {
  max-width: 1000px;
  margin: 0 auto;
}



/* header */
header.jumbotron {
  position: relative;
  background-image: url('../public/videogames-controller-1920x1080_75ss.1280.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  height: 50vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.jumbotron-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.jumbotron-content h2 {
  font-size: 70px;
  font-weight: bold;
  color: #ff5400;
  text-shadow: 
    -1px -1px 0 white,  
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white; 
}

.jumbotron-content p {
  font-size: 1.2rem;
  max-width: 600px;
  text-shadow: 
    -1px -1px 0 #ff5400,  
     1px -1px 0 #ff5400,
    -1px  1px 0 #ff5400,
     1px  1px 0 #ff5400;
}


.title-link {
  all: unset;
  color: #ffffff;
}

.title-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

.logo-img {
  width: 50px;
  height: 50px;
}

.navlink {
  display: flex;
  align-items: center;
}

.btn-wishlist{
  all: unset;
  background-color: #ff5400;
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #272727;
  color: #272727;
}
.vt-bg{
  background-color: #272727;
}

.vt-img{
  height: 50vh;
  object-fit: cover;
  image-rendering: auto;
}

/* main */
main {
  margin-bottom: 100px;
}

main h1{
  text-shadow: 
    -1px -1px 0 #ff5400,  
     1px -1px 0 #ff5400,
    -1px  1px 0 #ff5400,
     1px  1px 0 #ff5400;
}

.unset {
  all: unset;
}

/* input */
.form-control {
  width: 100%;
  background-color: #ff5400;
  border: #272727;
  color: #272727
}

.form-control:focus {
  background-color: #ff5400;
  color: #272727;
}

.form-select {
  background-color: #ff5400;
  border: #272727;
}

.form-select:focus {
  background-color: #ff5400;
}

/* card */
.card {
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.card-hover:hover {
  transform: translateY(-10px);
  /* box-shadow: 0 5px 15px rgba(255, 255, 255, 1); */
  box-shadow: 0 5px 15px rgba(255, 84, 0, 1);
  transition: 0.5s;
}

.img-hover:hover {
  cursor: pointer;
}

.vt-btn {
  all: unset;
  position: absolute;
  bottom: 8px;
  right: 40px;
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  padding: 0px 10px;
}

.vt-btn:hover {
  cursor: pointer;
  background-color: #e54c00;
}

.vt-btn-details {
  bottom: 13px;
  right: 60px;
  font-size: 17px;
  padding: 3px 10px;
}

.vt-heart {
  all: unset;
  position: absolute;
  bottom: 3px;
  right: 5px;
  font-size: 25px;
  color: #ff5400;
}

.vt-heart-details {
  font-size: 35px;
}

.vt-heart:hover {
  cursor: pointer;
}

.btn-color {
  color: #272727;
  background-color: #ff5400;
}


/* confronto */
.highlight {
  background-color: #ff5400; 
  border-radius: 10px;
  padding: 4px 6px;
}
.img-compare{
  object-fit: contain;
}

.vt-btn-compare{
  border-radius: 10px;
  border: 1px solid #272727;
  padding: 10px 15px;
}
.vt-btn-compare:hover{
  cursor: pointer;
  background-color: #e54c00;
}

.vt-btn-compare:disabled{
  background-color: #e54c00; 
  color: #272727;
  cursor: not-allowed; 
  opacity: 0.6;
}

.vt-position-checkbox{
  position: absolute;
  top: 1px;
  right: 5px;
  padding: 2px;
  border: 1px solid #ff5400;
}

/* wishlist */
.btn-remove{
  all: unset;
  color: #e54c00;
}
.font-icon{
  font-size: 20px;
}
.vt-text-color{
  color: #e54c00;
  font-weight: bold;
}


/* alert */
.vt-alert-color{
  background-color: #e54c00;
}